<div id="<%= dom_id call %>">
  <p>
    <strong>Coach:</strong>
    <%= call.coach_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= call.student_id %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= call.start %>
  </p>

  <p>
    <strong>Satisfaction:</strong>
    <%= call.satisfaction %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= call.notes %>
  </p>

</div>
