<% if coach? %>
  <div id="<%= dom_id call %>">
  <% if call.student %>
    <p>
      <strong>Student:</strong>
      <%= call&.student&.name %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= call&.student&.phone %>
    </p>
  <% end %>

  <p>
    <strong>Start:</strong>
    <%= call&.start %>
  </p>

  <% if call.satisfaction %>
    <p>
      <strong>Satisfaction:</strong>
      <%= call&.satisfaction %>
    </p>
  <% end %>

  <% if call.notes %>
    <p>
      <strong>Notes:</strong>
      <%= call&.notes %>
    </p>
  <% end %>

</div>
<% else %>
  <div id="<%= dom_id call %>">
  <p>
    <strong>Coach:</strong>
    <%= call&.coach&.name %>
  </p>

  <% if call&.student %>
    <p>
      <strong>Phone:</strong>
      <%= call&.coach&.phone %>
    </p>
  <% end %>

  <p>
    <strong>Start:</strong>
    <%= call&.start %>
  </p>

</div>
<% end %>
